@tailwind base;
@tailwind components;
@tailwind utilities;




  *{
    margin: 0;
    padding: 0;
  }
body{
  background-color: #0d0f16;
  scroll-behavior: smooth;
}
::selection{
  background-color: #02a202;
}
.sukal{
  text-shadow: 0px 0px 8px white;
}
.events{
  text-shadow: 0px 0px 2px white;
}
.cardContainer {
  width: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  /* width: 310px; */
  height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
  /* border: 1px solid rgba(255, 255, 255, 0.089); */
  box-shadow: 0px 0px 5px 2px gray;
  cursor: pointer;
}

.city {
  font-weight: 700;
  font-size: 1.8em;
  letter-spacing: 1.2px;
  color: white;
}

.weather {
  font-weight: 500;
  font-size: 1.2em;
  letter-spacing: 1.2px;
  color: rgb(197, 197, 197);
}

.temp {
  font-size: 1.8em;
  color: white;
}

.minmaxContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .min,
.max {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  gap: 4px;
} */

.max {
  align-items: flex-start;
  border-left: 2px solid white;
}


.btn_in_events{
  font-size:1.2em;
  font-weight: 600;
  color: white;
}

/* .maxTemp,
.minTemp {
  font-size: 0.6em;
  font-weight: 500;
  color: rgb(197, 197, 197);
} */

.cardContainer::before {
  width: 100px;
  height: 100px;
  content: "";
  position: absolute;
  background-color: rgb(144, 161, 255);
  z-index: -1;
  border-radius: 50%;
  left: 100px;
  top: 50px;
  transition: all 1s;
}

.cardContainer:hover::before {
  transform: translate(-15px, 70px);
}

#Know-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
 }
 
#Know-more {
  width: 12rem;
  height: auto;
 }
 
 #Know-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
 }
 
#Know-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }
 
#Know-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
#Know-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }
 
#Know-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #42923c;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }
 
#Know-more:hover .circle {
  width: 100%;
 }
 
#Know-more:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
 }
 
#Know-more:hover .button-text {
  color: #fff;
 }

.Home-background {
  background-size: cover;
}

.shadow-text {
  text-shadow: 
    0 0 5px rgba(255, 255, 255, 0.5), 
    0 0 5px rgba(255, 255, 255, 0.5), 
    0 0 5px rgba(255, 255, 255, 0.5), 
    0 0 5px rgb(227, 224, 224), 
    0 0 5px rgb(247, 247, 247), 
    0 0 5px rgb(255, 255, 255), 
    0 0 5px rgb(245, 245, 245);
}

#HomeVideo {
  position: absolute;
  top: -10;
  right: 0;
  bottom: 20;
  padding-bottom: 40px;
  opacity: 0.3;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  z-index: -1; /* Make sure the video is behind the content */
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #fff; */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.bgg{
  /* background: url('./assets/Backgrounds/SUKALPA.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0px 0px 10px black;
}
.shd_about{
  box-shadow: 0px 0px 50px 40px rgb(18, 18, 18);
}
.timebgg{
  background: url('./assets/Backgrounds/bg-about.png');
  background-size: cover;
  background-repeat: no-repeat;
 /* background-position: center; */
  box-shadow: 0px 0px 10px black;
}
.aboutbgg{
  background: url('./assets/Backgrounds/bg-about.png');
  background-size: cover;
  background-repeat: no-repeat;
 /* background-position: center; */
  /* box-shadow: 0px 0px 10px black; */
}


/* Glitch button */

.Glitch-button,
.Glitch-button::after {
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  position: relative;
}
.Glitch-button::after{
  text-shadow: 10 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
  background-color: transparent;
  border: 3px solid rgb(0, 247, 17);
}
.Glitch-button
{
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
}

.Glitch-button
{
  background-color: transparent;
  border: 1px solid rgb(0, 255, 17);
  box-shadow: 0px 10px 10px -10px rgb(20, 247, 35);
}
.Glitch-button::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: 'SUKALPA';
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid rgb(0, 247, 17);
  right: 0;
  bottom: 0;
  display: block;
  animation: glitchAnimation 1.5s infinite;
}

.Glitch-button:hover::after {
  animation: none; /* Remove animation on hover */
  border: 3px solid rgb(0, 247, 17);
}

@keyframes glitchAnimation {
  0% {
    clip-path: var(--move1);
    transform: translate(0px, -10px);
  }
  10% {
    clip-path: var(--move2);
    transform: translate(-10px, 10px);
  }
  20% {
    clip-path: var(--move3);
    transform: translate(10px, 0px);
  }
  30% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }
  40% {
    clip-path: var(--move5);
    transform: translate(10px, -10px);
  }
  50% {
    clip-path: var(--move6);
    transform: translate(-10px, 10px);
  }
  60% {
    clip-path: var(--move1);
    transform: translate(10px, -10px);
  }
  70% {
    clip-path: var(--move3);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--move2);
    transform: translate(10px, -10px);
  }
  90% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }
  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}

/* Gitch button */

/* Registerbutton */

#reg {
  width: 165px;
  height: 62px;
  cursor: pointer;
  color: #fff;
  font-size: 22px;
  border-radius: 1rem;
  border: none;
  position: relative;
  background: #100720;
  transition: 0.1s;
}

#reg::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
  filter: blur(15px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

#reg:active {
  transform: scale(0.9) rotate(3deg);
  background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
  transition: 0.5s;
}


/* Registerbutton */

/* Define the keyframes for sliding left */
@keyframes slideLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Apply the animation */
.slide-left {
  animation: slideLeft 2s linear infinite;
}

/* Tailwind utility classes (you can include these directly in your JSX as well) */
.default-styles {
  transition-transform: 150ms;
  margin-bottom: 2.5rem; /* mb-10 */
  z-index: 1;
  opacity: 0.9;
  border-radius: 0.75rem; /* rounded-xl */
  inset: 0.125rem; /* inset-0.5 */
  background: transparent;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* drop-shadow-xl */
  position: relative;
  backdrop-filter: blur(10px); /* backdrop-blur-xl */
}

.combo {
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  animation: scale 1.5s infinite, blink 1s infinite;
}

@media (max-width: 640px) { /* Tailwind's sm breakpoint */
  .combo {
    margin-top: 1.25rem; /* Tailwind's mt-5 */
  }
}

@media (min-width: 641px) { /* Tailwind's sm breakpoint */
  .combo {
    /* position: absolute;
    top: 12rem; 
    right: 14rem;  */
  }
}


@keyframes blink {
  0%, 100% {
    filter: drop-shadow(0 0 12px black);
    
    transform: scale(0.95);
  }
  50% {
    filter: drop-shadow(1px 1px 20px red);
    transform: scale(1.05);
  }
}


.loading-wave {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.loading-bar {
  width: 20px;
  height: 10px;
  margin: 0 5px;
  background-color: #3498db;
  border-radius: 5px;
  animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
  animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
  animation-delay: 0.2s;
}

.loading-bar:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes loading-wave-animation {
  0% {
    height: 10px;
  }

  50% {
    height: 50px;
  }

  100% {
    height: 10px;
  }
}